{% extends 'base.html' %}

{% block content %}
    <div class="page-container">
        <div class="main-title">REJESTRACJA</div>
        <div class="box content-wrap">
            <div class="box-content">
            <br />
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% for error in field.errors %}
                            <p class="incorrect">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <ul class="password-note">
                    <li>Hasło musi zawierać co najmniej 8 znaków</li>
                    <li>Hasło nie może być podobne lub takie same jak nazwa użytkownika</li>
                    <li>Hasło nie może być zbyt popularne, tj. '12345678' lub 'qwerty123'</li>
                </ul>
            <br />
                <button class="animated-button" type="submit">ZAREJESTRUJ SIĘ</button><br />
            </form>
            </div>
        </div>
    </div>
{% endblock %}