{% load static %}
{% load commontags %}
<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <title>Document</title>
        <link href="{% static 'css/pdf.css' %}" rel="stylesheet">
        <style>
            @page{
                size: A4 landscape;
                margin: 1cm;
            }
            @font-face {
                font-family: "Calibri";
                src: url({% static "fonts/calibri.ttf" %});
            }
	    </style>
    </head>
    <body>
        <h1>PLAN</h1>
        <h2>{{ plan_name }}</h2>
        <table>
            <tr>
                <th></th>
                {% for task in tasks %}
                    <th style="padding: 2px;">{{ task.name }}</th>
                {% endfor %}
            </tr>
            {% for i in count %}
                <tr>
                    <th style="padding: 2px;">
                        <div>{{ workers|index:i|get_name }}</div>{{ workers|index:i|get_surname }}
                    </th>
                    {% for j in count %}
                        <td {% if ones|index:i|index:j == 1 %}
                            class="assignment"
                            {% endif %}
                        >
                            {{ plan|index:i|index:j }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <br />
        {% if is_hungarian == 'True' %}
            <span class="cost">Plan został wygenerowany przy użyciu algorytmu węgierskiego<br />
            Optymalna wartość przydziału przy tej metodzie wynosi:</span> <span class="cost value">{{ cost }}</span><br /><br />
            <span>Przy metodzie heurystycznej wartość wynosiłaby: </span><span class="cost value">{{ second_cost }}</span>
        {% else %}
            <span class="cost">Plan został wygenerowany przy użyciu algorytmu heurystycznego<br />
            Optymalna wartość przydziału przy tej metodzie wynosi:</span> <span class="cost value">{{ cost }}</span><br /><br />
            <span>Przy metodzie węgierskiej wartość wynosiłaby: </span><span class="cost value">{{ second_cost }}</span>
        {% endif %}
        <br />
        <small>Data i godzina utworzenia planu: {{ date }}</small>
    </body>
</html>