html, body {
  height: 100%;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: "Montserrat", serif;
  font-weight: bold;
  background-color: #CDCDCE;
}

footer {
  text-align: center;
  background-color: #6f42c1;
  clear: both;
  position: relative;
  font-weight: normal;
}

#menu {
  min-height: 80px;
  background-color: #6f42c1;
  width: 100%;
  color: white;
  overflow: auto;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

#menu ul {
  list-style-type: none;
}

#menu li {
  float: right;
}

#menu li a {
  font-size: small;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: auto;
}

#menu li a:hover {
  color: black;
}

#title {
  padding-top: 25px;
  padding-left: 10px;
  font-size: x-large;
  float: left;
  height: 100%;
}

.box {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.box-title {
  height: 30px;
  text-align: center;
  font-size: large;
  background-color: #6f42c1;
  color: white;
  line-height: 30px;
}

.box-title button {
  float: right;
  background-color: Transparent;
  border: none;
  margin-top: 4px;
}

.box-title button:hover {
  cursor: pointer;
  color: white;
}

.box-content {
  text-align: center;
  height: 80%;
  margin: 5px 5px;
}

.box-buttons {
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 10%;
  text-align: center;
}

.main-button {
  font-size: x-small;
  font-weight: bolder;
  color: #6f42c1;
  background-color: Transparent;
  cursor: pointer;
}

.animated-button {
  padding: 10px;
  font-size: x-small;
  color: #6f42c1;
  background-color: Transparent;
  font-weight: bold;
  border: 1px solid #6f42c1;
  letter-spacing: 2px;
  transition: all 0.3s ease 0s;
}

.animated-button.big-button {
  font-size: small;
}

.animated-button:hover {
  color: white;
  background-color: #6f42c1;
  transform: translateY(-3px);
}

.animated-button:hover.big-button {
  transform: translateY(-7px);
}

.main-title {
  background-color: #6f42c1;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  color: white;
  height: 50px;
  line-height: 50px;
  font-size: x-large;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  margin: 10px auto;
  padding-bottom: 50px;
  text-align: center;
  width: 80%;
  height: auto;
}

.content-wrap h2, .content-wrap h3 {
  color: #6f42c1;
}

.incorrect {
  color: red;
}

a {
  color: white;
}

a .category {
  transition: all 0.3s ease 0s;
  width: 50%;
  float: left;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

a .category.active {
  background-color: #6f42c1;
}

a .category.active:hover {
  background-color: #896DBF;
}

a .category.no-active {
  background-color: #747474;
}

a .category.no-active:hover {
  background-color: #969696;
}

a .category:hover {
  cursor: pointer;
}

.success-logout {
  text-align: center;
}

.styled-select-big {
  height: 25px;
  width: 50%;
  text-align: center;
  border: 1px solid #CCC;
  background-color: white;
}

.styled-select-small {
  text-align: center;
  border: 1px solid #CCC;
  background-color: white;
}

.password-note {
  font-size: x-small;
  color: red;
}
