*, html {
  font-family: "Calibri",serif;
  text-align: center;
}

table {
  border: 1px solid black;
}

td {
  background-color: #cccccc;
}

th {
  -pdf-word-wrap: CJK;
  background-color: #f5dd5d;
  height: 50px;
}

.assignment {
  background-color: #6f42c1;
}

h1, h2 {
  font-size: xx-large;
}

h2 {
  color: blue;
}

small {
  color: lightslategrey;
}

.cost {
  font-size: large;
}

.value {
  color: red;
}
