{% extends 'base.html' %}
{% block content %}
    <div class="page-container">
        <div class="main-title">LOGOWANIE</div>
        <div class="box content-wrap">
            <div class="box-content">
                <br />
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% for error in field.errors %}
                                <p class="incorrect">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    {% if form.errors %}
                        <p class="incorrect">username or password not correct</p>
                    {% endif %}
                    <button class="animated-button" type="submit">ZALOGUJ SIĘ</button><br />
                </form>
            </div>
        </div>
    </div>
{% endblock %}