{% extends 'user-panel-base.html' %}
{% block panel %}
    <a href="{% url 'panel' %}" ><div id="team-button" class="category no-active">ZARZĄDZANIE ZESPOŁEM</div></a>
    <a href="{% url 'plans' %}" ><div id="plan-button"  class="category active">PLANY</div></a>
{% endblock panel %}
{% block box_content %}
    <div class="box" id="plans">
        <div class="box-title">
            PLANY
        </div>
        <div class="box-content">
            {% include 'include/user_panel/plans/plans-table.html' %}
        </div>
        <div class="box-buttons">
            <button class="animated-button" onclick="blur_body('plan-form')">UTWÓRZ NOWY PLAN</button>
        </div>
    </div>
{% endblock box_content %}
{% block extra_js %}
<script>
    {% if messages %}
        {% for message in messages %}
            alert('{{message}}')
        {% endfor %}
    {% endif %}
</script>
{% endblock extra_js %}