{% load commontags %}
<p>Tworzymy macierz kwaratową:</p>
<table>
    {% for row in size %}
        <tr>
            {% for col in size %}
                <td>{{ cost_array|index:row|index:col }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<p>Odejmujemy z każdego wiersza najmniejszą wartość:</p>
<table>
    {% for row in size %}
        <tr>
            {% for col in size %}
                <td>{{ cost_array_after_subtract_in_rows|index:row|index:col }}</td>
            {% endfor %}
            <td class="subtract">(-{{ min_in_rows|index:row }})</td>
        </tr>
    {% endfor %}
</table>

<p>Odejmujemy z każdej kolumny najmniejszą wartość:</p>
<table>
    <tr>
        {% for col in size %}
            <td class="subtract">(-{{ min_in_cols|index:col }})</td>
        {% endfor %}
    </tr>
    {% for row in size %}
        <tr>
            {% for col in size %}
                <td>{{ cost_array_after_subtract_in_cols|index:row|index:col }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
