{% for worker in workers %}
    <div id="{{ worker.name }}-{{ worker.surname }}-{{ worker.id }}-edit" class="box top-form worker-edit">
        <div class="box-title">
            {{ worker.name }} {{ worker.surname }}
            <button onclick="unBlur_body('{{ worker.name }}-{{ worker.surname }}-{{ worker.id }}-edit','{{ worker.name }}-{{ worker.surname }}-{{ worker.id }}-form')">&#10006</button>
        </div>
        <p class="info">Podaj czasy/koszty wokonywania zadań:</p>
        <form id="{{ worker.name }}-{{ worker.surname }}-{{ worker.id }}-form" method="post">
            <div  class="box-content">
                {% csrf_token %}
                <input type='hidden' name='action' value='update_execution'>
                <input type='hidden' name='team' value='{{ actual_team.id }}'>
                {% for execution in executions %}
                    {% if execution.worker == worker %}
                        <div class="worker-execution" onclick="document.getElementById('{{ execution.id }}').focus()">
                            <label for="{{ execution.id }}">{{ execution.task.name }}:</label><br /><br />
                            <input type="number" min="0" id="{{ execution.id }}" name="{{ execution.id }}" value="{{ execution.time }}" required step="any" onfocus="value = this.value;"><br /><br />
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="box-buttons">
                <button class="animated-button big-button" type="submit">ZAPISZ</button>
            </div>
        </form>
    </div>
{% endfor %}