{% extends 'base.html' %}
{% load static %}
{% load commontags %}
{% block extra_css %}
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    {% block current_content %}
        <div class="page-container">
            <div class="main-title">O ALGORYTMIE WĘGIERSKIM</div>
            <div class="box content-wrap">
                <div class="box-content">
                    <br />
                    <div id="info">
                        {% include 'include/about/info.html' %}
                        <h2>Wypróbuj jak to działa</h2>
                        {% include 'include/about/select-values.html' %}
                        <br />
                        {% include 'include/about/forms/form-for-own-values.html' %}
                        {% include 'include/about/forms/form-for-team-values.html' %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static "js/algorithm-step-by-step.js" %}"></script>
{% endblock %}