{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'css/user-panel.css' %}" rel="stylesheet">
{% endblock extra_css %}
{% block content %}
    <div class="page-container">
        <div class="main-title">STRONA GŁÓWNA</div>
        <div class="box content-wrap">
            <div class="box-content">
                <br />
                <h2>APLIKACJA PRZEDSTAWIA DZIAŁANIE ALGORYTMU WĘGIERSKIEGO</h2>
                <h3>SŁUŻY ON DO OPTYMALNEGO PRZYDZIAŁU ZADAŃ</h3>
                <h4>WIĘCEJ O NIM MOŻESZ PRZECZYTAĆ KLIKAJĄC NA GÓRZE W ZAKŁADKĘ 'O ALGORYTMIE'</h4>
                <h4>APLIKACJA POZWALA NA UTWORZENIE ODPOWIEDNIEGO PLANU NA PODSTAWIE CZASU WYKONYWANIA ZADAŃ KONKRETNYCH PRACOWNIKÓW</h4>
                {% if not user.is_authenticated %}
                    <h2>ABY ROZPOCZĄĆ PRACĘ ZALOGUJ SIĘ LUB ZAREJESTRUJ</h2>
                {% else %}
                    <h2>AKTUALNIE JESTEŚ ZALOGOWANY JAKO: {{ user }}</h2>
                {% endif %}
            </div>
            <div class="box-buttons">
                {% if not user.is_authenticated %}
                    <form action="accounts/login">
                        <button class="animated-button big-button" type="submit">ZALOGUJ SIĘ</button><br /><br />
                    </form>
                    <form action="signup/">
                        <button class="animated-button big-button" type="submit">ZAREJESTRUJ SIĘ</button>
                    </form>
                {% else %}
                    <form action="accounts/logout">
                        <button class="animated-button big-button" type="submit">WYLOGUJ SIĘ</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="opacity-div"></div>
{% endblock content %}