{% extends 'base.html' %}
{% load static %}
{% load commontags %}
{% block extra_css %}
<link href="{% static 'css/instruction.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

    <div class="page-container">
        <div class="main-title">INSTRUKCJA</div>
        <div class="box content-wrap">
            <div class="box-content">

                <h3 onclick="show_div('user-panel-instruction')">PANEL UŻYTKOWNIKA</h3>
                <div id="user-panel-instruction" style="display: none;">
                    <p style="font-size: large">Po udanej rejestracji lub zalogowaniu się, przejdż w zakładkę <b>PANEL UŻYTKOWNIKA</b>. Na górze widnieje Twoja nazwa użytkownika, a pod spodem znajdują się dwie zakładki: <b>ZARZĄDZANIE ZEPOŁEM</b> oraz <b>PLANY</b>: </p>
                    <img src="{% static 'images/panel_page.png' %}" alt="panel_page" onclick="large_image(this.id)" id="panel_page">
                    <br /><br /><br /><br />
                    <hr />
                </div>

                <h3 onclick="show_div('create-team-instruction')">TWORZENIE ZESPOŁU</h3>
                <div id="create-team-instruction" style="display: none;">
                    <p>W tym miejscu możesz zarządzać swoimi zespołami. Utwórz swój zespół klikając w miejsce oznaczone strzałką: </p>
                    <img src="{% static 'images/panel_page_arrow.png' %}" alt="panel_page" onclick="large_image(this.id)" id="panel_page_arrow">
                    <br /><br /><br /><br />


                    <p>Następnie wpisz nazwę swojego zespołu i kliknij <b>ZAPISZ</b></p>
                    <img src="{% static 'images/create_team.png' %}" alt="create_team" onclick="large_image(this.id)" id=create_team">
                    <br /><br /><br /><br />

                    <p>W tym momencie, gdy masz już utworzony zespół, w zakładce pojawiły się karty: <b>PRACOWNICY</b> oraz <b>ZADANIA</b>. Możesz również usunąć zespół klikając na dole w <b style="color: red">USUŃ TEN ZESPÓŁ</b></p>
                    <img src="{% static 'images/team.png' %}" alt="team" onclick="large_image(this.id)" id=team">
                    <br /><br /><br /><br />
                    <hr />
                </div>

                <h3 onclick="show_div('create-worker-instruction')">DODAWANIE PRACOWNIKA</h3>
                <div id="create-worker-instruction" style="display: none;">
                    <p>Dodaj swojego pierwszego pracownika klikając w odpowiednie miejsce w karcie <b>PRACOWNICY</b>: </p>
                    <img src="{% static 'images/team_arrow.png' %}" alt="team_arrow" onclick="large_image(this.id)" id=team_arrow">
                    <br /><br /><br /><br />

                    <p>Teraz wpisz imię oraz nazwisko pracownika a następnie zatwierdź formularz:</p>
                    <img src="{% static 'images/create_worker.png' %}" alt="create_worker" onclick="large_image(this.id)" id=create_worker">
                    <br /><br /><br /><br />

                    <p>Po zatwierdzeniu, w panelu użytkownika w zakładce <b>PRACOWNICY</b> pojawił się utworzony przez Ciebie pracownik. Możesz go usunąć poprzez kliknięcie w <b style="color: red">USUŃ PRACOWNIKA</b>: </p>
                    <img src="{% static 'images/team_worker.png' %}" alt="team_worker" onclick="large_image(this.id)" id=team_worker">
                    <br /><br /><br /><br />
                    <hr />
                </div>


                <h3 onclick="show_div('create-task-instruction')">DODAWANIE ZADANIA</h3>
                <div id="create-task-instruction" style="display: none;">
                    <p>Dodaj swoje pierwsze zadanie klikając w odpowiednie miejsce w karcie <b>ZADANIA</b>: </p>
                    <img src="{% static 'images/team_arrow1.png' %}" alt="team_arrow1" onclick="large_image(this.id)" id=team_arrow1">
                    <br /><br /><br /><br />

                    <p>Teraz wpisz nazwę zadania a następnie zatwierdź formularz:</p>
                    <img src="{% static 'images/create_task.png' %}" alt="create_task" onclick="large_image(this.id)" id=create_task">
                    <br /><br /><br /><br />

                    <p>Po zatwierdzeniu, w panelu użytkownika w zakładce <b>ZADANIA</b> pojawiło się utworzone przez Ciebie zadanie. Aby je usunąć, najedź na nie myszką i kliknij <b style="color: red">x</b>. Z racji tego, że posiadamy już pracownika oraz zadanie, na dole pojawiła się opcja utworzenia planu: </p>
                    <img src="{% static 'images/team_task.png' %}" alt="team_task" onclick="large_image(this.id)" id=team_task">
                    <br /><br /><br /><br />
                    <hr />
                </div>


                <h3 onclick="show_div('executions-instruction')">UZUPEŁNIANIE DANYCH PRACOWNIKÓW</h3>
                <div id="executions-instruction" style="display: none;">
                    <p>Wybierz pracownika zakładce <b>PRACOWNICY</b> i kliknij na niego: </p>
                    <img src="{% static 'images/team_arrow2.png' %}" alt="team_arrow2" onclick="large_image(this.id)" id=team_arrow2">
                    <br /><br /><br /><br />

                    <p>Pojawi się formularz. Uzupełnij w nim czasy/koszty wykonania zadania przez pracownika a następnie zatwierdź formularz: </p>
                    <img src="{% static 'images/executions.png' %}" alt="execution" onclick="large_image(this.id)" id=execution">
                    <br /><br /><br /><br />
                    <hr />
                </div>

                <h3 onclick="show_div('create-plan-instruction')">TWORZENIE PLANU</h3>
                <div id="create-plan-instruction" style="display: none;">
                    <p>Po utworzeniu większej ilości pracowników oraz zadań i uzupełnieniu czasów wykonywania możemy przystąpić do utworzenia planu. Kliknij na dole w <b>UTWÓRZ PLAN DLA TEGO ZESPOŁU</b> (Plan możesz utworzyć również w zakładce <b>PLANY</b>)</p>
                    <img src="{% static 'images/team_arrow3.png' %}" alt="team_arrow3" onclick="large_image(this.id)" id=team_arrow3">
                    <br /><br /><br /><br />

                    <p>Podaj nazwę planu oraz wybierz z rozwijanej listy metodę, którą ma być ułożony plan (Do wyboru jest metoda węgierska oraz heurystyczna). Następnie kliknij <b>ZAPISZ</b>:  </p>
                    <img src="{% static 'images/create_plan.png' %}" alt="create_plan" onclick="large_image(this.id)" id=create_plan">
                    <br /><br /><br /><br />

                    <p>Należy pamiętać, że jeden pracownik może wykonywać tylko jedno zadanie, więc jeżeli liczba pracowników będzie się różnić od liczby zadań, to aplikacja utworzy sztuczne zadania/pracowników. Zostajemy o tym poinformowani odpowiednim komunikatem. Klikamy OK: </p>
                    <img src="{% static 'images/plan_alert.png' %}" alt="plan_alert" onclick="large_image(this.id)" id=plan_alert">
                    <br /><br /><br /><br />
                    <hr />
                </div>

                <h3 onclick="show_div('plan-instruction')">PLANY</h3>
                <div id="plan-instruction" style="display: none;">
                    <p>Po utworzeniu planu zostaniemy pzeniesieni do zakładni "PLANY". Widzimy tutaj informacje odnośnie planu (nazwę, metodę, zespół, datę utworzenia oraz odnośnik do PDF). Chcąc usunąć plan najedź na niego myszką i kliknij <b style="color: red">x</b>. Jeżeli chcesz podejrzeć plan kliknij w odnośnik: </p>
                    <img src="{% static 'images/plans_arrow.png' %}" alt="plans_arrow" onclick="large_image(this.id)" id=plans_arrow">
                    <br /><br /><br /><br />

                    <p>W wygenerowanym pliku PDF na górze znajduje się nazwa planu, pod tabelą dostajemy informację o metodzie, którą plan był wykonywany oraz o optymalnej wartości przydziału przy obecnej metodzie jak i drugiej. W tabeli kolorem fioletowym na przecięciu wiersza i kolumny oznaczone są przydziały zadań do wykonawców: </p>
                    <img src="{% static 'images/plan.png' %}" alt="plan" onclick="large_image(this.id)" id=plan">
                    <br /><br /><br /><br />
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static "js/show-div.js" %}"></script>
{% endblock %}