#cost {
  color: red;
}

#second-cost {
  color: blue;
}

#calculations {
  text-align: center;
}

span {
  font-weight: bold;
}

#form-for-team-values {
  display: none;
}

table {
  font-weight: normal;
  width: 25%;
  margin: auto;
  border-collapse: collapse;
}

p {
  font-size: small;
}

form input[type=number] {
  text-align: center;
  margin: 2px;
  width: 30px;
  -moz-appearance: textfield;
}

form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#info {
  margin: 20px;
  font-weight: normal;
  text-align: left;
}

#info ul {
  margin: 10px;
  display: inline-block;
}

#info ol {
  margin: 10px;
  display: inline-block;
}

#info ol > li::marker {
  font-weight: bold;
}

#info li {
  margin-bottom: 15px;
}

#info li:last-child {
  margin-bottom: 0;
}

.subtract {
  font-size: x-small;
  color: grey;
}

.assign {
  background-color: lightgreen;
}

.crossed {
  background-color: #81d4fa;
}

.double-crossed {
  background-color: indianred;
}

.mark-cross {
  font-size: x-small;
}
